

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-name);
}


section{
  padding: 50px 0px;
}

a{
  text-decoration: none;
  color: unset;
}

a:houver{
  color: unset;
}

ul{
  list-style: none;
}


.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.section__title{
  color: var(--heading-color);
  font-weight: 700;
}


body {
  background: linear-gradient( #d2ead4, #D2F7F5, #D2F7F5, #dff9e3);
}

html{
  scroll-behavior: smooth;
  position: absolute;
}